*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

#nav-bar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    }
ul li{
        list-style: none;
        color: whitesmoke;
        cursor: pointer;
        align-items: center;
    }
a {
        color: whitesmoke;
        text-decoration: none;
    }
ul {
    display: inline;     
  }
  .nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
  }
  .logo {
    width: auto;
    padding: 7.5px 10px 7.5px 0;
    font-size: 20px;
    flex: 1;
  }
  .items {
    order: 1;
    position: relative;
    width: auto;
    align-items: center;
    padding: 10px;
    display: block;
    font-size: 18px;
  }
  .nav li a {
    display: block;
    padding: 15px 5px;
  }
  .item.button {
    display: block;
    order: 1;
    padding: 9px 5px;
    align-items: center;
  }
.button a {
  background-color: #0080ff;
  border: 1px solid royalblue;
}
.nav li.button a {
  padding: 10px 15px;
  margin: 5px 0;
}
.button.sign-up a {
  background: transparent;
  border: 1px solid #0080ff;
}
