html, body {
  height: 100%;
  width: 100%;
  font-size: 15px;
  margin: 0;
  font-family: 'Roboto', 'Lato', sans-serif;
  position: flex;
  margin: 0;
  padding: 0;
}
.fr-view {
    position: relative;
    max-width: 100%;
    height: auto;
}
a:link {
  color: darkblue;
  text-decoration: none;  
}
a:active {
  color: red;
}
#final {
  text-align: center;
}
